<!DOCTYPE html>

<html lang="en">

    <head>
        <%- include('../partials/head'); %>
        <!-- Crear -->
        <link rel="stylesheet" href="../css/crear.css">
    </head>
    
    <body >
        
        <header>

            <%- include('../partials/header'); %> 

        </header>
        
        <main>

            <div class= "divCrear">

                <form class="formCrear" action="crear" method="POST" enctype="multipart/form-data">
                    <h4>Crear producto</h4>
                    <input class="casilla" type="text" name="name" id="nombres" placeholder="Nombre del producto:">    
                    <input class="casilla" type="text" name="price" id="apellidos" placeholder="Precio:">
                    <input class="casilla" type="number" name="discount" id="number" placeholder="Descuento:">
                    <select class="casilla" type="text" name="category" id="text" placeholder="Categoría:">
                        <option value="">Elegí</option>
                        <option value="in-sale">En oferta</option>
                        <option value="visited">Ultimos agregados</option>
                    </select>
                    <input class="casilla" type="text" name="description" id="text" placeholder="Descripción:">
                    <input type="file" name="newimage" id="image">
                    <br>
                    <button class="casilla" type="submit">Guardar</button>
                </form>
                
            </div>

        </main>

        <footer>

            <%- include('../partials/footer'); %>

        </footer>

    </body>

</html>