<!DOCTYPE html>

<html lang="en">

    <head>
        <%- include('../partials/head'); %>
        <!-- Crear -->
        <link rel="stylesheet" href="/css/crear.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    </head>
    
    <body >
        
        <header>

            <%- include('../partials/header'); %> 

        </header>
        
        <!-- <main>

            <div class= "divCrear">

                <form class="formCrear" action="crear" method="POST" enctype="multipart/form-data">
                    <h4>Crear producto</h4> 
                    <input class="casilla" type="text" name="name" id="nombres" placeholder="Nombre del producto:">    
                    <input class="casilla" type="text" name="price" id="apellidos" placeholder="Precio:">
                    <input class="casilla" type="number" name="discount" id="number" placeholder="Descuento:">
                    <select class="casilla" type="text" name="category" id="text" placeholder="Categoría:">
                        <option value="">Elegí</option>
                        <option value="in-sale">En oferta</option>
                        <option value="visited">Ultimos agregados</option>
                    </select>
                    <input class="casilla" type="text" name="description" id="text" placeholder="Descripción:">
                    
                    <div>
						<label for="newimage" class="form-label">Cargar Imagen</label>
						<input type="file" name="newimage" id="image"></input>
					</div>

                    <br>
                    <button class="casilla" type="submit">Guardar</button>
                </form>
                
            </div>

        </main> -->

        <main>
            <div class= "divCrear">
                <form class="formCrear" action="crear" method="POST" enctype="multipart/form-data">
                    <label for="">Crear producto</label>
                    <input class="casilla" type="text" name="name" id="nombres" placeholder="Nombre del producto:">    
                    <input class="casilla" type="text" name="price" id="apellidos" placeholder="Precio:">
                    <input class="casilla" type="number" name="discount" id="number" placeholder="Descuento:">
                    <select class="casilla" type="text" name="category" id="text" placeholder="Categoría:">
                        <option value="">Elegí</option>
                        <option value="in-sale">En oferta</option>
                        <option value="visited">Ultimos agregados</option>
                    </select>
                    <input type="file" name="newimage" id="image"></input>
                    <br>
                    <input class="casilla" type="text" name="description" id="textdescripcion" placeholder="Descripción:">
                    <textarea name="description" id="crear-areatexto" cols="30" rows="10" placeholder="Descripción"></textarea>
                    <br>
                    <div class="crear-botones">
                        <button class="crear-button-crear btn btn-primary" type="submit" >Guardar</button>
                        <button href="/" class="crear-button-cancelar btn btn-secondary" type="submit" >Cancelar</button>
                    </div>
                </form>  
            </div>
        </main>

        <footer>

            <%- include('../partials/footer'); %>

        </footer>

    </body>

</html>