<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Stream House</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon.png">
</head>
<body>
    <header >
        <div class="encabezadologo">
            <a href="#"><img src = "images/shlogo.jpg" class="logo"></img></a>
        </div>
        <nav class="barra">
            <a href="" class="c"> Conocenos </a>
            <a href="" class="ns"> Servicios </a>
            <a href="" class="np"> Productos </a>
            <a href="" class="nc"> Clientes </a>
            <a href="" class="g"> Galería </a>
            <a href="" class="h"> Hablemos </a>
        </nav> 
    </header>
        <form>
            
        </form>
    <footer>
        <div class="pie">
            <div class="telefono bi bi-telephone"> 54 (11) XXXX - XXXX </div>
            <div class="redes"> 
                <img src = "images/fb.jpg"  class="fb"> </img>
                <img src = "images/ig.jpg"  class="ig"> </img>
                <img src = "images/wp.jpg"  class="wp"> </img>
            </div>
            <div class="ubicacion bi bi-geo-alt"> Buenos Aires, Argentina</div>
            <div>
                <img src = "images/nuevo.jpg"  class="logo"> </img>
            </div>
        </div>
    </footer>
</body>
</html>