<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body >
    
    <header >

        <%- include('../partials/header'); %>
        <nav class="barra">
            <a href="" class="c"> Conocenos </a>
            <a href="" class="ns"> Servicios </a>
            <a href="" class="np"> Productos </a>
            <a href="" class="nc"> Clientes </a>
            <a href="" class="g"> Galería </a>
            <a href="" class="h"> Hablemos </a>
        </nav> 
    </header>



    <form class="formCrear" action="resultado.html" method="POST">
        <p>
        <label>Nombre:</label>
        <input type="text" name="nombre" required>
        </p>

        <p>
        <label>E-mail:</label>
        <input type="email" name="email" required>
        </p>

        <p>
        <label>Contraseña:</label>
        <input type="password" name="password" required>
        </p>

        <p>
        <input type="submit" value="ENVIAR">
        </p>
    </form>
       
    <footer >
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>