* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
h1,h2,h3,h4,h5,h6{
    font-family: Oxygen;
}

.fondo {
    background-color: #21232A;
}

.main-login-registro{
    height: 65vh;
    align-items: center;
    justify-items: center;
}

.form-registro h4 {
    margin-bottom: 1.5vw;
    text-align: center;
}

.form-registro {
    text-align: center;
    border: 3px solid #2BE0A4;
    border-radius: 4px;
    background-color: black;
    width: 20vw;
    padding: 2vw;
    margin: auto;
    margin-top: 2.5vw;
    color: white;
    align-items: center;
    justify-items: center;
}

.casilla {
    border: 2px solid #2BE0A4;
    background-color: white;
    width: 100%;
    padding: 0.7vw;
    border-radius: 4px;
    margin-bottom: 2vh;
}

.cont-botón {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.botón {
    display: flex;
    justify-content: center;
    border: 2px solid #2BE0A4;
    background-color: white;
    width: 40%;
    padding: 0.7vw;
    border-radius: 4px;
    margin-bottom: 2vh;
}









/* HOME */ 


.main-home{
    background-color: #21232A;
    padding-top: 5vw;
}

.slider {
    width: 100vw;
}

.imgProducto{
    width: 50%;
}

.producto{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    margin-bottom: 10vw;
    width: 100%;
    border: 5px solid black;
}







header{
    
    background-color: black;
    font-family:Oxygen;
    
}


.main-header{
    
    color: #2BE0A4;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    position: fixed;
    top: 0;
    z-index: 100;
    
    
}
.logo{
    
    width: 40%;
   
}

.barra{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    justify-content: space-between;
    text-align: center;
    
}

.lista-header{
    justify-content: space-between;
}

.lista-header a {
    margin: 0px 10px
}

#hamburguer{
    display: flex;
    color: #2BE0A4;
    background-color: black;
    width: 100%;
}

.navegacion{
    color: #2BE0A4;
    background-color: black;
   
}
nav {
    display: flex;
}
nav a{
    color: white;
    text-decoration: none;
    padding-right: 20px;
    
}

.relleno{
    display: none;
    background-color: red
}
.barraPreSlider {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;

}
.barraPreSlider img {
    width: 5%;
    
}

.minput{
    width: 100%;
  

}
.buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

footer{
    
    background-color: black;
}

.pie{
    
    
    display: block;
    justify-content: space-between;
    color: white;
    font-size: 8px;
    align-items: center;
    background-color: black;
}

.telefono{
    padding-left: 25px;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: stretch ;
}

.fb{
    
    width: 35px;
}
.ig{
   
    width: 35px;
}
.wp{
    
    width: 35px;
}
.logoFooter{
    width: 40%;
}




















@media (min-width:520px) {

    .productosCuatroColumnas{
        display: flex;
    }
    
    
}
@media (min-width:575px) {

    .barraPreSlider{
       margin-top: 65PX;
    }
    #hamburguer{
        width: 100%;
    }
    .productosUnaColumna{
        margin-top:300px;
        
    }
    .menuSlider li a{
        top: 250px;
    }

}

@media (min-width:768px) {

    .barraPreSlider {
        margin-top: 80px;
    }
    .menuSlider li a{
        top: 350px;
    }
    .productosUnaColumna{
        margin-top:400px;
        
    }
    .barra{
        display: flex;
    }
}
@media (min-width:1024px) {

    .containerSlider{
        width: 50%;
    }
    .barraPreSlider {
        margin-top: -19px;
    }
    .menuSlider li a{
        top: 300px;
    }
    .productosUnaColumna{
        margin-top:350px;
        
    }
    #hamburguer{
        font-size: x-large;
    }
    .logoFooter {
        width: 20%;
        padding: 5px;
    }
    .redes{
        width: 90%;;
    }

    .telefono{
        font-size: large;
        width: 100%;
    }
    .main-header {
        position: static;
       
    }
    
}