* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
h1,h2,h3,h4,h5,h6{
    font-family: Oxygen;
}

.fondo {
    background-color: black;
}

.form-registro h4 {
    margin-bottom: 1.5vw;
    text-align: center;
}

.form-registro {
    text-align: center;
    border: 3px solid #2BE0A4;
    border-radius: 4px;
    background-color: black;
    width: 20vw;
    padding: 2vw;
    margin: auto;
    margin-top: 10vw;
    color: white;
}

.casilla {
    border: 2px solid #2BE0A4;
    background-color: white;
    width: 100%;
    padding: 0.7vw;
    border-radius: 4px;
    margin-bottom: 2vh;
}
.botón {
    border: 2px solid #2BE0A4;
    background-color: white;
    width: 40%;
    padding: 0.7vw;
    border-radius: 4px;
    margin-bottom: 2vh;

}

.barraPreSlider {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;

}
.barraPreSlider img {
    width: 5%;
    
}
.minput{
    width: 100%;
  

}
.buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider img{
    width: 100%;
}

.imgProducto{
    width: 50%;
}

.producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}







header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    background-color: black;
    align-items: center;
    font-family:Helvetica;
}

.logo{
   
    width: 30%;
}

.barra{
    font-size: 25px;
    padding-right: 20px;
}

nav {
    display: flex;
}
nav a{
    color: white;
    text-decoration: none;
    padding-right: 20px;
}


.logo2{
    width: 1920px;
    height: 1080px;
}


footer{
    width: 1920px;
    background-color: black;
}

.pie{
    height: 150px;
    width: 1920px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.5rem;
    align-items: center;
}

.telefono{
    padding-left: 25px;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fb{
    height: 70px;
    width: 70px;
}
.ig{
    height: 70px;
    width: 70px;
}
.wp{
    height: 70px;
    width: 70px;
}






@media (min-width:576px) {

    .productosCuatroColumnas{
        display: flex;
    }




}
@media (min-width:768px) {




}