<img   src="./images/carrocompra.png" alt="carrito de compra">  
       
        
        
<div  class="buscador" >
    <form action="#" method="POST">    <input class="minput"  type="text">  </form>
    <img  class="lupa" src="./images/lupa.png" alt="lupa">
</div>


<img   src="./images/logoUsuario.png" alt="logo del usuario">    


  