<div class="carrito">
    <a   href="/products/carrito">  <img   src="../images/carrocompra.png" alt="carrito de compra">  </a>
</div>
   


    
       
        
        
<div  class="buscador" >
    <form action="#" method="POST">    <input class="minput"  type="text">  </form>
    <img  class="lupa" src="../images/lupa.png" alt="lupa">
</div>

<div class="usuario">
    <a  href="/users/login" > <img   src="../images/logoUsuario.png" alt="logo del usuario">   </a>
</div>
    

 


  