<!-- <div class="pie">
    
    <div class="telefono bi bi-telephone"> 

        <lu>
            <li>54 (11) XXXX - XXXX</li>
            <li>Buenos Aires, Argentina</li>
        </lu>  

    </div>

    <div class="redes"> 
        
        <a href="https://www.facebook.com/profile.php?id=100086380680735">
            <img src = "/images/fb.jpg"  class="fb"> </img>
        </a>

        <img src = "/images/ig.jpg"  class="ig"> </img>

        <a href="https://api.whatsapp.com/send?phone=+573044351216&text=Hola,&nbsp;Necesito&nbsp;mas&nbsp;Informacion">  
            <img src = "/images/wp.jpg"  class="wp"> </img>
        </a>
        
    </div>

    <img src = "/images/logoFooter.png" class="logoFooter" > </img>

</div> -->








<!-- INICIO FOOTER -->


<div class="footer-news">
    <h2>Suscribite al Newsletter    <i class="bi bi-envelope-paper-fill"></i></h2>
    <input type="email" class="newsletter-mail" placeholder="Introduce tu correo electrónico">
    <input type="submit" value="Suscribir" href="#">
</div>

<div class="footer-box1">
    <div class="footer-contacto">
        <lu>
            <li class="bi bi-telephone"> +57 304 435 1216</li>
            <li class="bi bi-geo-alt"> Barranquilla, Colombia</li>
        </lu>  
    </div>

    <div class="footer-redes">
        <a href="https://www.facebook.com/profile.php?id=100086380680735">
            <img src = "../images/fb.png"  class="fb"> </img>
        </a>
        
        <a href="https://api.whatsapp.com/send?phone=+573044351216&text=Hola,&nbsp;Necesito&nbsp;mas&nbsp;Informacion">  
            <img src = "../images/wp.png"  class="wp"> </img>
        </a>
    </div>

    <div class="footer-logo">
        <a href="/">   <img src = "../images/shlogo.jpg"  class="footer-logo"> </img> </a>
    </div>
</div>

<div class="footer-box2">
    <div class="derechos">
        TODOS LOS DERECHOS RESERVADOS   <i class="bi bi-c-circle derechos"></i>
    </div>
</div>