<!-- <div class="main-header">

    <div class="encabezadologo">
        <a href="/">   <img src = "/images/shlogo.jpg"  class="logo"> </img> </a>
    </div>

    <div class="fa fa-bars" onclick="despliegaMenu()" id="hamburguer"> </div>

</div>     

<div class="navegacion">   
     
    <nav class="barra" id="barra">
        
        <li class="lista-header">         
            <a href="/products" class="np">  Productos     </a>
            <a href="" class="c">   Contacto   </a>
            <a href="" class="c">   Ayuda  </a>
        </li>

        <li class="lista-header">
            <a href="/users/login" class="g">   Login       </a>
            <a href="/users/perfil" class="g">   Perfil       </a>
            <a href="/products/crear" class="nc">  Vender      </a>
            <a href="/products/carrito" class="c">   Carrito   </a>
        </li>   

     </nav> 

</div> -->


















<div class="box1">
    <a href="/">   <img src = "../images/shlogo.jpg"  class="logo"> </img> </a>
    <input type="text" class="buscador">
    
    <a href="/users/login" class="box1-log" id="textoLoginInNav">   Login       </a>
    <a href="/products/carrito" class="box1-carrito">   Carrito   </a>

    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="bi bi-list icon-menu-bar"></label> 
    
    <div class="box-logo-carrito">
        <a href="/products" class="np">  Productos     </a>
        
        
        <a href="/users/login" class="g">   Login       </a>
          
        <a href="/users/perfil" class="g">   Perfil       </a>
        <a href="/products/carrito" class="c">   Carrito   </a>
        <a href="" class="c">   Contacto   </a>
        <a href="" class="c">   Ayuda  </a>
    </div>

</div>

<div class="box2">
    <a href="/products" class="productos-box2">  Productos     </a>
    <a href="" class="">   Ofertas       </a>
    <a href="" class="">   Lo mas nuevo       </a>
    <a href="/products/crear" class=""> Crear Producto   </a>
    <a href="/users/perfil" class="g">   Perfil       </a>
    <!-- <a href="" class="c">   Contacto   </a> -->
    <a href="" class="ayuda-box2">   Ayuda  </a>
</div>