<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
        

<title>Stream House</title>
        
<link rel="shortcut icon" type="image/png" href="../images/favicon.png">

        
       
        
        <!-- CSS -->
                        <!-- Bootstrap 
                        
                        

                        <link href="../css/font-awesome.min.css" rel="stylesheet">
                        -->
                        <link href="../css/bootstrap.min.css" rel="stylesheet">
                        
                        <!-- Googleapi -->
                        <link href='https://fonts.googleapis.com/css?family=Roboto:wgh@300;400;700&display=swap' 
                        rel='stylesheet' type='text/css'>
                        <link href='https://fonts.googleapis.com/css?family=Oxygen:wgh@300;400;700&display=swap' 
                        rel='stylesheet' type='text/css'>

                        <link rel="preconnect" href="https://fonts.googleapis.com">
                        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap" 
                        rel="stylesheet">
                        <link href="https://fonts.googleapis.com/css2?family=Oxygen:ital,wght@0,100;0,400;1,100&display=swap" 
                        rel="stylesheet">

                        <!-- Normalize -->
                        <link rel="stylesheet" href="../css/normalize.css">
                         <!-- Personalizado-->
                         <link rel="stylesheet" href="../css/style.css">
