<div class="main-header">

    <div class="encabezadologo">
        <a href="/">   <img src = "../images/shlogo.jpg"  class="logo"> </img> </a>
    </div>

    <div class="fa fa-bars" onclick="despliegaMenu()" id="hamburguer"> </div>

</div>     

<div class="navegacion">   
     
    <nav class="barra" id="barra">
        
        <li class="lista-header">         
            <a href="/products/listado" class="np">  Productos     </a>
            <a href="" class="c">   Contacto   </a>
            <a href="" class="c">   Ayuda  </a>
        </li>

        <li class="lista-header">
            <a href="/users/login" class="g">   Login       </a>
            <a href="/users/perfil" class="g">   Perfil       </a>
            <a href="/products/crear" class="nc">  Vender      </a>
            <a href="/products/carrito" class="c">   Carrito   </a>
        </li>   

     </nav> 

</div>
