<div class="main-header">
    <div class="encabezadologo">
        <a href="#">   <img src = "../images/shlogo.jpg"  class="logo"> </img> </a>
    
    </div>

    <div class="fa fa-bars" onclick="despliegaMenu()" id="hamburguer"> </div>

</div>     
