<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        
    </header>
    <div >
        <img   src="./images/enconstruccion.jpg" alt="En Construccion">
    </div>

</body>
</html>