<!DOCTYPE html>
<html>
   <head>
         <%- include('../partials/head'); %>
        
                        
                        <script>
                            
                                    var swicheMenu =0;

                                    console.log(swicheMenu);
                                   function despliegaMenu(){
                                    

                                    if  (swicheMenu==0) {
                                        barra    =document.getElementById("barra");
                                        barraPreSlider =document.getElementById("barraPreSlider");
                                            
                                            barra.style.display="flex";
                                            barra.style.flexdirection="column";
                                            
                                            
                                            
                                             swicheMenu=1;
                                        } 
                                       else{
                                            barra    =document.getElementById("barra");
                                            barraPreSlider =document.getElementById("barraPreSlider");
                                            
                                            barra    =document.getElementById("barra");
                                            barra.style.display="none";
                                            
                                            swicheMenu=0;

                                       }
                                        
                                 

                                   }
                                   
                                   
                                    
                                    

                                  
                        </script>
        
        
    
   
   </head>

   <body>
    <header >
        <%- include('../partials/header'); %>

        
                
    </header>


    
    <br clear="all">   
    <div class="relleno"></div>
    
    <div class="barraPreSlider"  id="barraPreSlider">
        
        <%- include('../partials/barraPreSlider'); %>


       

    </div>


    
    <div class="navegacion">    
            <nav class="barra" id="barra">
                
                <a href="" class="ns">  Servicios     </a>
                <a href="" class="np">  Productos     </a>
                <a href="" class="nc">  Clientes      </a>
                <a href="" class="g">   Galería       </a>
                <a href="" class="c">   Contáctanos   </a>
            </nav> 
    </div>
    
    
                
    


        <div align="center" class="containerSlider">

            <ul class="slider">
            <li id="slide1">
                <img src="./images/slider/1.jpg"/>
            </li>
            <li id="slide2">
                <img src="./images/slider/2.jpg"/>
            </li>
            <li id="slide3">
                <img src="./images/slider/3.jpg"/>
            </li>
            
            </ul>

            <ul  class="menuSlider">
            <li>
                <a href="#slide1">1</a>
            </li>
            <li>
                <a href="#slide2">2</a>
            </li>
            <li>
                <a href="#slide3">3</a>
            </li>
            </ul>

        </div>
         
    <div class="productosUnaColumna" >
        
        <div class="productosDosColumna">
            <div class="productosCuatroColumnas">
                <div class="producto">
                    <img class="imgProducto"  src="./images/productos/microfono-gaming-5d5ec2fd0b665.jpg" alt="">
                                                <div class="valorYDescuento">
                                                        <span>$25.200 </span> 
                                                </div>
                                                <div class="nombreProducto">
                                                        <span>Microfono Microsooft"</span>
                                                </div>

                </div>

                <div class="producto">
                                                <img class="imgProducto"  src="./images/productos/laptop-gamer-5bdcd4f039150.jpg" alt="">
                                                <div class="valorYDescuento">
                                                        <span>$85.200 </span> 
                                                </div>
                                                <div class="nombreProducto">
                                                        <span>Portatil Gamer"</span>
                                                </div>

                </div>


                <div class="producto">
                                                <img class="imgProducto"  src="./images/productos/monitor-gamer-5bdcd3a987148.jpg" alt="">
                                                <div class="valorYDescuento">
                                                        <span>$55.000 </span> 
                                                </div>
                                                <div class="nombreProducto">
                                                        <span> Monitor 14" </span>
                                                </div>

                </div>


       

                <div class="producto">
                                                <img class="imgProducto"  src="./images/productos/ordenador-gamer-5bdcd50468f13.jpg" alt="">
                                                <div class="valorYDescuento">
                                                        <span>$90.500 </span> 
                                                </div>
                                                <div class="nombreProducto">
                                                        <span>Computador Corei5 11va Generación"</span>
                                                </div>

                </div>





                                                
            </div>

        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
        
    </footer>


   </body>
   
   
   
   
   
   
   <html>