<!DOCTYPE html>

<html lang="en">
        
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <%- include('../partials/head'); %>

    </head>

    <body class="fondo">

        <header>

            <%- include('../partials/header'); %>
            
        </header>
        <h2> Formulario de Login </h2>
        <div class= "main-login-registro">
            
            <form class="form-registro" method="POST" action="/users/login">
                <h4>Login</h4>    
                <input class="casilla" type="email" name="email" id="email" placeholder="Correo electrónico">
               
                <input class="casilla" type="password" name="password" id="password" placeholder="Contraseña">
                <div class="cont-botón">
                    <input class="botón" type="submit" value="Iniciar Sesión">
                    <a class="botón" href="/users/registro"><input type="buttom" value="registrarme"></a>
                </div>
            </form>

        </div>

        <footer>

            <%- include('../partials/footer'); %>

        </footer>

    </body>
    
</html>
