<!DOCTYPE html>

<html lang="en">

    <head>

        <%- include('../partials/head'); %>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">
        <script src="/js/scriptLogin.js"></script>
        
        
    </head>
            
    <body class="fondo">

        <header>
            
            <%- include('../partials/header'); %>

        </header>
        
        <main class= "main-login-registro">

            <section class="form-registro">
                <form action="/users/registro" method="POST" enctype="multipart/form-data"> 
                    <h4>Registro de Usuario</h4>
                    <input class="casilla" type="text" name="nombre" id="nombres" placeholder="Nombres" onblur="compruebaNombre(this)"> 
                    <div id="errorNombre">Campo vacio</div>
                    
                    <input class="casilla" type="text" name="apellido" id="apellidos" placeholder="Apellidos"  onblur="compruebaApellido(this)">
                    <div id="errorApellido">Campo vacio</div>

                    <input class="casilla" type="email" name="email" id="email" placeholder="Correo electrónico" onblur="compruebaCorreo(this)">
                    <div id="errorEmail">Campo vacio</div>

                    <input class="casilla" type="password" name="password" id="password" placeholder="Contraseña" onblur="compruebaClave(this)">
                    <div id="errorClave"> Campo vacio</div>

                    <input class="casilla" type="password" name="password2" id="password2" placeholder="Repita contraseña" onblur="compruebaRepClave(this)">
                    <div id="errorRepClave"> Campo vacio</div>

                    <input class="casilla" type="file" name="avatar" id="avatar" placeholder="Archivo" onblur="compruebaAvatar(this)">
                    <div id="errorAvatar">  </div>

                    <div class="cont-botón">
                        <input class="botón" type="submit" value="Registrarme">
                    </div>


                </form>
                

            </section>

        </main>

        <footer>
        
            <%- include('../partials/footer'); %>

        </footer>

    </body>

</html>